.home {
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.homeTitle {
  flex: 1;
  text-align: center;
  font-size: 3.3rem;
  color: #336699;
  margin: 0;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 800;
  text-shadow: 0 5px 10px #adc2d6;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Alegreya Sans SC", sans-serif;
}

li {
  margin-bottom: 10px;
}

.link-button {
  background: #adc2d6;
  border: 1px solid #ebf0f5;
  border-radius: 30px;
  padding: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 380px;
  height: 200px;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 10px #7a9cbd;
}

.link-button a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 1.58rem;
}

.link-button a span {
  margin-bottom: 10px;
}

.link-button a:hover {
  text-decoration: underline;
  background-color: #e0e8f0;
  color: #85a3c2;
  border: 1px solid #ebf0f5;
  border-radius: 30px;
  box-shadow: 0 20px 15px #8fabc7;
  transform: translateY(-10px);
}

.link-button h5 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #336699;
}
